services:
  db:
    image: postgres:17-alpine
    container_name: wykonczymy-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: wykonczymy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
